.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    background-color: black;
    border-radius: 8px;
    color: white;
}

.toolbar img {
    height: 40px;

}

.toolbar-title {
    flex-grow: 1;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}